In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [6]:
orclID = 'kopo'
orclPW = 'kopo'
orclIP = '192.168.110.112'
orclPort = '1521'
orclDbName = 'orcl'

engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(orclID, orclPW, orclIP, orclPort, orclDbName))

In [39]:
joinData1 = pd.read_sql_query('SELECT * FROM JOINDATA1', engine)

In [40]:
joinData2 = pd.read_sql_query('SELECT * FROM JOINDATA2', engine)

In [44]:
joinData1 = joinData1.drop([0])

KeyError: '[0] not found in axis'

In [48]:
joinData1.reset_index(drop=True)

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2
5,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2

In [42]:
joinData2

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd
0,153101000000,납세자관계,99991231,10101,153403000000,22
1,153101000000,납세자관계,99991231,10101,154201000000,22
2,153101000000,납세자관계,99991231,10101,154601000000,30
3,153101000000,납세자관계,99991231,10101,154702000000,22
4,153101000000,납세자관계,99991231,10101,153403000000,32
5,153101000000,납세자관계,20161113,20160523,153201000000,30
6,153101000000,납세자관계,99991231,10101,153501000000,22
7,153101000000,납세자관계,99991231,10101,153101000000,32
8,153101000000,납세자관계,99991231,10101,153901000000,32
9,153101000000,납세자관계,20180926,20170802,154401000000,30

In [66]:
joinTotal = pd.merge(left=joinData1,
                     right=joinData2,
                     left_on=["mata_tin"],
                     right_on=["mata_tin"],
                     how="left")

In [68]:
sortKey = ["mata_tin"]

In [70]:
joinTotal.sort_values(sortKey).reset_index(drop=True)

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin_x,suta_txpr_sex_cd,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,suta_tin_y,txpr_rlt_cd
0,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,NaN,NaN,NaN,NaN,NaN
1,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,NaN,NaN,NaN,NaN,NaN
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,NaN,NaN,NaN,NaN,NaN
3,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,NaN,NaN,NaN,NaN,NaN
5,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,NaN,NaN,NaN,NaN,NaN
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,NaN,NaN,NaN,NaN,NaN
7,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,NaN,NaN,NaN,NaN,NaN
8,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,NaN,NaN,NaN,NaN,NaN
9,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,NaN,NaN,NaN,NaN